.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 400px;
    border: 1px solid #0bcad7;
    border-radius: 8px;
  }
  
  .card-header {
    background-color: #074963;
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
    padding: 10px 15px;
    font-size: 1.25rem;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .btn-primary:hover,
  .btn-link:hover {
    opacity: 0.8;
  }
  
  .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 0.8s linear infinite;
    display: none; /* hide spinner by default */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  